.Category {
    margin: 20px auto;
    height: 300px;
    width: 250px;
    padding: 10px;
    background-color: aquamarine;
    border: 2px solid rgb(105, 12, 12);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Category h1 {
    font-size: 17px;
    margin-bottom: 15px;
}

.Category button {
    height: 30px;
    width: 100px;
    background-color: burlywood;
    margin-bottom: 20px;
}